/* chivo-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/chivo-v18-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* chivo-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/chivo-v18-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --red:      #FB3E3E;
    --green:    #54E6AF;
    --white:    #FFFFFF;
    --blue-950: #121725;
    --blue-900: #2C344B;
    --blue-600: #5A668A;
    --blue-300: #C2CBE5;
}

html { 
    background-color: var(--blue-950);
}

body {
    margin-inline: auto;
    font-weight: 300;
    font-family: Chivo, sans-serif;
    overflow-x: hidden;
}

h1 {
    margin: 0;
    margin-bottom: 1rem;
    color: var(--green);
    font-size: 2rem;
    font-weight: inherit;
    text-transform: uppercase;
    line-height: 120%;
    text-align: center;
}

span {
    color: var(--white);
}

p {
    margin-bottom: 2.5rem;
    font-size: 0.875rem;
    line-height: 150%; 
    text-align: center;
    color: var(--blue-300);
}

main {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    margin-inline: auto;
}

form {
    display: flex;
    flex-direction: column;
    order: 4;
}

input {
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.75rem;
    border: none;
    border-radius: 1.75rem;
    background-color: var(--blue-900);
    font-size: 0.875rem;
    line-height: 200%;
    font-weight: 700;
    color: var(--white);
    outline: none;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.50);
}



button {
    position: relative;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 1.75rem;
    background-color: var(--green);
    font-size: 0.875rem;
    line-height: 200%;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), #54E6AF;
}

.wrapper {
    padding-top:    2.25rem;
    padding-left:   2.25rem;
    padding-right:  2.25rem;
    padding-bottom: 9.156rem;
}

.logo {
    display: block;
    margin-top: 6.906rem;
    margin-bottom: 3.5rem;
    margin-left: auto;
    margin-right: auto;
}

.podcast-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;
    order: 3;
    margin-bottom: 2.5rem;
}

.podcast-logo {
    width: 100%;
}

.tablet-bg,
.desktop-bg,
.bg-dots-tablet,
.bg-dots-desktop {
    display: none;
}


@media only screen and (max-width: 767px) {
    html { 
        background: no-repeat center center fixed; 
        background-image: linear-gradient(to bottom, rgba(18, 23, 37, 0.85), rgba(18, 23, 37, 0.85)), url('../assets/mobile/image-host.jpg');
        background-size: cover;
    }
}


@media only screen and (min-width: 768px) {
    body {
        max-width: 60.938rem;
    }

    h1 {
        margin-bottom: 1.5rem;
        max-width: 33rem;
        font-size: 3rem;
        text-align: left;
    }

    p {
        margin-top: 0;
        max-width: 28rem;
        font-size: 1.125rem;
        text-align: left;
    }

    main {
        margin: 0;
        padding-top: 5.544rem;
        max-width: 37rem;
        background-color: var(--blue-950);
    }

    form {
        flex-direction: row;
        justify-content: space-between;
        order: 3;
        margin-bottom: 2.5rem;
        padding: 0.25rem 0.25rem 0.25rem 1.5rem;
        max-width: 28rem;
        border-radius: 1.75rem;
        background-color: var(--blue-900);
    }

    input {
        margin-bottom: 0;
        padding: 0;
        border-radius: 0;
    }

    .wrapper {
        margin-inline: auto;
        padding-top:    9.75rem;
        padding-left:   2.75rem;
        padding-right:  2.75rem;
        padding-bottom: 9.75rem;
        max-width: 70rem;
    }

    .logo {
        display: block;
        margin-top: 0;
        margin-left: initial;
        margin-right: auto;
        margin-bottom: 6.5rem;
    }
    
    .podcast-logos {
        align-items: self-end;
        order: 4;
        gap: 2.5rem;
        margin-bottom: 0;
        max-width: 34.188rem;
        height: 3.313rem;
    }
        .podcast-logo:first-child {
            width:  6rem;
            height: 1.813rem;
        }
        .podcast-logo:nth-child(2) {
            width:  4.875rem;
            height: 1.813rem;
        }
        .podcast-logo:nth-child(3) {
            margin-bottom: 0.361rem;
            width:  7.813rem;
            height: 1.125rem;
        }
        .podcast-logo:last-child {
            margin-bottom: 0.099rem;
            width:  8.063rem;
            height: 1.625rem;
        }

    .tablet-bg,
    .bg-dots-tablet {
        position: absolute;
        display: initial;
        right: 0;
    }

    .tablet-bg {
        top: 0;
        z-index: -1;
    }

    .bg-dots-tablet {
        top: 51rem;
    }
}


@media only screen and (min-width: 1120px) {
    body {
        max-width: 90rem;
    }

    h1 {
        max-width: 41.563rem;
    }

    main {
        max-width: 46rem;
        padding-top: 5.519rem;
    }

    .tablet-bg,
    .bg-dots-tablet {
        display: none;
    }

    .desktop-bg,
    .bg-dots-desktop {
        position: absolute;
        right: 0;
        display: initial;
    }
    
    .desktop-bg {
        top: 9.75rem;
        z-index: -1;
    }

    .bg-dots-desktop {
        top: 47.188rem;
    }
}
