/* chivo-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/chivo-v18-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* chivo-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/chivo-v18-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --red:      #FB3E3E;
    --green:    #54E6AF;
    --white:    #FFFFFF;
    --blue-950: #121725;
    --blue-900: #2C344B;
    --blue-600: #5A668A;
    --blue-300: #C2CBE5;
}

body {
    font-family: Chivo, sans-serif;
    font-weight: 300;
    background-color: var(--blue-950);
}

h1 {
    color: var(--green);
    font-size: 32px;
    font-weight: inherit;
    text-transform: uppercase;
    line-height: 120%;
}

span {
    color: var(--white);
}

p {
   font-size: 14px;
   line-height: 150%; 
   color: var(--blue-300);
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 48px;
    }

    p {
        font-size: 18px;
     }
}